/* ***** TEXT & COLOR ***** */
a {
    color: green;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover {
    color: #585858;
    text-decoration: underline;
}


/* ***** BODY ***** */
body {
    background-color: #EFFBF2;
    color: #0B3B17;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

h2, h4 {
    margin: 0;
    padding: 0;
}

/* ***** MENU ***** */
#menu {
    background-color: white;
    clear: both;
    font-size: 1.25em;
    height: auto;
    margin-bottom: 10px;
    min-height: 60px;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    width: 100%;
}
nav {
    clear: both;
    float: left;
    margin-left: 10px;
    margin: auto;
    max-width: 50%;
    padding-top: 10px;
    top: 50%;
    width: auto;
}
nav a {
    margin: 20px 10px 20px 10px;
}

#searchResult {
    background-color: white;
    clear: both;
    color: green;
    font-size: 0.75em !important;
    height: auto;
    margin: auto;
    max-width: 50%;
    min-width: 30%;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: auto;
}

#searchBox
{
    float: right;
    height: auto;
    margin-right: 10px;
    min-width: 200px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 30%;
}

#searchBox #search {
    background: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #A3C9BD;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    font: normal 0.75em !important;
    height: 30px;
    margin: auto;
    min-width: 150px;
    padding: 0px 6px;
    width: 22%;
}
#searchBox .sub-bn {
    background-color: #6cbb6b;
    color: #ffffff;
    display: inline-block;
    font-size: 0.75em !important;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    position: relative;
    text-shadow: .3px .3px #04B45F;
}

/* ***** FORM ***** */
fieldset {
    clear: both;
    display: block;
    margin-top: 20px;
    margin: auto;
    max-width: 300px;
    padding: 5px;
    position: relative;
    width: 50%;
}
fieldset legend {
    color: green;
    font-weight: bold;
}
fieldset form {
    color: #424242;
    margin: 0;
    padding: 0;
}
fieldset input {
    color: #0A2A12;
    margin-right: 5px;
    margin-top: 5px;
    min-height: 1.125em;
}
.inputForms{
    margin: 0 5px;
    padding: 0 5px;
}
.cartQtyBn {
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid grey;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
i {
    background-color: #ffffff;
    margin: 2px 0 .5px 0;
}
#submitQty {
    float: right;
}

/* ***** TABLES ***** */
table {
    background-color: white;
    border-collapse: collapse;
    border: 2px double gray;
    color: green;
    float: center;
    margin: 20px auto 20px auto;
    position: relative;
    table-layout: auto;
}
tr {
    text-align: left;
}
td {
    border: 2px ridge gray;
    padding: 5px;
}
th {
    border: 2px ridge gray;
    color: #0B3B17;
    padding: 5px;
    text-align: center;
}

/* ***** SHOP ***** */
/*individual page view*/
#container {
    clear: all;
    margin-left: auto ;
    margin-right: auto ;
    overflow: none;
    padding: 10px;
    width: 80%;
}
#container img {
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
#description {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px dotted green;
    float: left;
    max-width: 75%;
    padding: 10px;
}
#purchaseForm {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    vertical-align: top;
}
/* select box styling code modified from an awesome tutorial by @bavotasan at http://bavotasan.com/2011/style-select-box-using-only-css/ */
#selection {
    background: url('image/chevron_down.png') no-repeat right white;
    display: inline-block;
    float: left;
    height: 1.7em;
    overflow: hidden;
    width: 120px;
}
#selection select {
    -moz-border: 0;
    -webkit-border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none; /* for chrome */
    background: transparent;
    border: 0;
    border-radius: 0;
    color: green;
    font-weight: bold;
    height: 1.8em;
    line-height: 1; /* for Chrome and Safari */
    padding: 3px 0 0 5px; /* so it's not flush against the edge in Safari*/
    width: 150px;
}

/*category view*/
#tileContainer {
    margin: auto;
    padding-left: 10px;
}
.tileSpace {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px dotted green;
    float: left;
    height: 180px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 180px;
}

.tileSpace p {
    margin: 2px;
}
.tileSpace a:hover {
    text-decoration: none;
}

/* ***** INPUT & BUTTONS ***** */
.inputBox {
    -moz-border: 1px solid #A3C9BD;
    -webkit-border: 1px solid #A3C9BD;
    background: white;
    border: 1px solid #A3C9BD;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    height: 1.75em;
    padding: 2px;
}

.sub-bn {
    -moz-border: .4px solid #04B45F;
    -webkit-border: .4px solid #04B45F;       
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: green;
    border: .4px solid #04B45F;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    height: 1.7em;
    padding: 2px 5px 2px 5px;
}

.sub-bn:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

.sub-bn:active {       
    background: #95d788;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: none; 
}

.sub-bn::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

/* ***** MESSAGES ***** */
#greet {
    color: green;
    font-size: 0.857em;
    font-weight: bold;
    padding: 5px;
}
#jsMsg {
    background-color: #0B3B0B;
    color: white;
    font-size: 0.857em;
    margin: auto;
    padding: 5px;
    text-align: center;
    text-decoration: bold;
}
.boxMsg{
    text-align: center;
}
.boxMsg .sub-bn {
    display: block;
    float: center;
    margin: auto;
    text-align: center;
}
.logMsg {
    color: gray;
    display: block;
    font-style: italic;
    margin: 5px 0 5px 0;
}
.errMsg {
    color: red;
    margin: 5px 0 5px 0;
}